<%= form_with(model: text_wrapper, local: true) do |form| %>
  <% if text_wrapper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(text_wrapper.errors.count, "error") %> prohibited this text_wrapper from being saved:</h2>

      <ul>
      <% text_wrapper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :line_width %>
    <%= form.text_field :line_width, id: :text_wrapper_line_width %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :text_wrapper_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
