<p id="notice"><%= notice %></p>

<h1>Texts</h1>

<table>
  <thead>
    <tr>
      <th>Line width</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  
  <tbody>
    
    <% @text_wrappers.each do |text_wrapper| %>
    <style> 
    span {
      /* add an extra line */
      display: inline-block;
      width: 100%;
    }
    p {
      /* reduce line-height to half to include spans */
      line-height: 0.6em;
      /* set a reasonnable width */
      width: <%= text_wrapper.line_width%>em;
      text-align: justify;
    }
    
    </style>
      <tr>
        <td><%= text_wrapper.line_width %></td>
        <td><%= simple_format text_wrapper.text %></div></td>
        <td><%= link_to 'Show', text_wrapper %></td>
        <td><%= link_to 'Edit', edit_text_wrapper_path(text_wrapper) %></td>
        <td><%= link_to 'Destroy', text_wrapper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text Wrapper', new_text_wrapper_path %>
