<p id="notice"><%= notice %></p>

<p>
  <strong>Line width:</strong>
  <%= @text_wrapper.line_width %>
</p>

<p>
  <strong>Text:</strong>
  <style> 
    span {
      /* add an extra line */
      display: inline-block;
      width: 100%;
    }
    p {
      /* reduce line-height to half to include spans */
      line-height: 0.6em;
      /* set a reasonnable width */
      width: <%= @text_wrapper.line_width%>em;
      text-align: justify;
    }
    </style>
  <!-- with  the line_width the developer can break the lines using the simple format within word_wrap
  to print properly in the view port
  -->
  <%= simple_format @text_wrapper.text %>
</p>

<%= link_to 'Edit', edit_text_wrapper_path(@text_wrapper) %> |
<%= link_to 'Back', text_wrappers_path %>
